{% extends 'base.html' %}

{% block meta %}
<title>Tambah Peserta</title>
{% endblock meta %}

{% block content %}
<div class='form-kegiatan'>
    <h1>Tambah Peserta</h1>
    <form method="POST">{% csrf_token %}
        {{form.as_p}}
        <button>Submit</button>
    </form>
</div>
{% endblock %}