{% extends 'base.html' %}

{% block meta %}
<title>Kegiatanku</title>
{% endblock meta %}


{% block content %}
    <div class="kegiatan">
        <h1>Kegiatan</h1>

        {% for Kegiatan in list_kegiatan %}
        <div class="kegiatans">
            {{Kegiatan.NamaKegiatan}}
            <div style="clear: both;"></div>
            {% for Peserta in orang %}
            {% if Peserta.NamaKegiatan == Kegiatan %}
            {{Peserta.Nama}}
            <div style="clear: both;"></div>
            {% endif %}
            {% endfor %}
            <a href="add_peserta">Add Peserta</a>
        </div>
        {% endfor %}
        <a href="add_kegiatan">Add Kegiatan</a>
    </div>
{% endblock %}