body {
    font-family: calibri;
    color: rgb(255, 255, 255);
    margin-top: 0px;
    background-image: url(../images/Back.jpg);
}

.profile-main {
    box-sizing: border-box;
}

.profile-main {
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    background-image: url(../images/Ground.png);
    border: 1px solid #ffffff;
    padding-bottom: 10px;
}

.kegiatan {
    margin: 40px;
}

.kegiatan h1 {
    color: #42A8BF;
}

.kegiatans {
    width: 20%;
    margin: 20px;
    border: 1px solid white;
    padding: 10px;
}

.form-kegiatan {
    margin: 20px;
    padding: 10px;
}

.form-kegiatan input {
    color: #474747;
}

.form-kegiatan p {
    color: #7e7e7e;
}

.form-kegiatan button {
    color: #7e7e7e;
}

.form-matkul {
    margin: 40px;
}

.form-matkul h1 {
    color: #42A8BF;
    margin-bottom: 10px;
}

.form-matkul input {
    color: #474747;
}

.box-matkuls {
    margin: 40px;
}

.box-matkul {
    margin: 40px;
}

.delete-matkul {
    margin: 40px;
}

.delete-matkul h1 {
    color: #42A8BF;
    margin-bottom: 10px;
}

.tombol p {
    margin: 0;
    color: #474747;
}

.profile-content {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.profile-image {
    float: left;
    position: relative;
    width: 350px;
    height: 525px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    margin-top: 35px;
}

.profile-data {
    float: left;
    width: 50%;
    padding-left: 100px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.profile-data h1 {
    color: #42A8BF;
    margin-left: 40px;
    font-size: 50px;
}

.about-tag {
    margin-top: 20px;
    margin-left: 40px;
}

.about-tag p {
    color: rgb(253, 253, 253);
    font-size: 20px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    background: #474747;
}

.profile-project {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.profile-project h4 {
    color: #42A8BF;
    font-size: 50px
}

.projects {
    float: left;
    width: 40%;
    border: 1px solid #ededed;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-right: 70px;
}

.projects-image img {
    float: left;
    margin: 5px;
    height: 50%;
    width: 46%;
}

.projects-image p {
    float: right;
    padding: 5px;
    width: 50%;
}

.profile-header {
    height: 200px;
    width: 100%;
    border-bottom: 2px solid #E2F3FB;
}

.self-detail {
    position: relative;
    width: 75%;
    margin: 0 auto;
    height: 100%;
}

.self-image {
    float: left;
    position: relative;
    width: 17%;
    height: 135px;
}

.self-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top: 35px;
}

.self-data {
    float: left;
    width: 46%;
    padding-left: 27px;
    margin-bottom: 20px;
}

.self-data h2 {
    margin-bottom: 0px;
    margin-top: 35px;
    font-size: 20px;
    font-weight: 600;
}

.self-data p {
    margin-top: 0px;
    font-size: 12px;
    color: #b1b1b1;
}

.self-data p {
    font-size: 12px;
    color: #b1b1b1;
}

.tab-panel-main {
    width: 75%;
    margin: 0 auto;
    position: relative;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    margin-top: 10px;
}

ul.tabs li {
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #E2F3FB;
    cursor: pointer;
    background: #FAFBFB;
}

ul.tabs li:last-child {
    border-right: 2px solid #E2F3FB;
}

ul.tabs li:first-child {
    border-left: 2px solid #E2F3FB;
}

ul.tabs li.current {
    background: #474747;
    color: #fff;
    font-weight: 600;
}

.tab-content {
    display: none;
    padding: 15px 5px;
}

.tab-content.current {
    display: inherit;
}

#Basic-info {
    height: 210px;
    width: 110%;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}

.profile-box {
    float: left;
    width: 46%;
    border: 1px solid #ededed;
    border-radius: 4px;
}

.detail-box {
    float: right;
    width: 42%;
    margin-left: 50px;
    border: 1px solid #ededed;
    padding: 13px;
    border-radius: 4px;
}

.profile-box .heading {
    padding: 10px 0px 10px 10px;
}

.profile-box .heading p {
    margin: 0px;
    font-weight: 600;
    font-size: 13px;
}

.profile-box .desc {
    padding: 10px 10px 10px 10px;
    text-align: justify;
    color: #808080;
    font-size: 13px;
}

.detail-box {
    padding: 10px;
    font-size: 13px;
}

.detail-box p {
    font-weight: 600;
    margin: 0px;
    font-size: 13px;
}

.detail-box .ul-first {
    padding: 0px;
    list-style: none;
    float: left;
    color: #808080;
}

.detail-box .ul-second {
    float: left;
    list-style: none;
    color: #a7a7a7;
}

#Edu-info {
    height: 210px;
    float: left;
    padding-right: 0;
    padding-left: 0;
}

.Edu-box-main h2 {
    margin: 0;
    margin-bottom: 0px;
    text-align: center;
    margin-bottom: 25px;
    color: #969696;
}

.Edu-box-main h2 i {
    color: #42A8BF;
}

.Edu-box-main {
    float: left;
    border-radius: 4px;
    border: 1px solid #ededed;
    padding: 10px 0px;
}

.Edu-box {
    width: 38%;
    float: left;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #E0E0E1;
    padding: 10px;
}

.Edu-box:nth-of-type(2) {
    margin-left: 0px;
    margin-right: 20px;
}

.Edu-box:last-child {
    margin-left: 0px;
    margin-right: 20px;
}

.Edu-box h5 {
    margin: 0;
    font-weight: normal;
    font-weight: 600;
}

.Edu-box h5 span {
    color: #42A8BF;
    font-size: 15px;
}

#Exp-info {
    height: 210px;
    float: left;
    padding-right: 0;
    padding-left: 0;
}

.Exp-box {
    width: 101%;
    float: left;
    margin-left: 0;
    margin-right: 40px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #E0E0E1;
    padding: 10px;
}

.Exp-box h3 {
    margin: 20px;
    font-size: 25px;
}

.skill-box {
    float: left;
    position: relative;
    width: 70px;
    height: 70px;
    margin: 20px;
}

.skill-box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top: 0px;
}

.footer,
.footer strong {
    margin-top: 100px;
    text-align: center;
}

.footer p {
    margin-bottom: 0px;
}

.footer-box {
    background-color: white;
    height: 50px;
    width: 50px;
    border: 1px solid #939393;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}

.footer-box:last-child {
    margin-right: 0px;
}

.footer-box i {
    line-height: 50px;
    font-size: 30px;
}

.footer-box .fa-facebook {
    color: #365597;
}

.footer-box .fa-twitter {
    color: #01B0F4;
}

.footer-box .fa-steam {
    color: #000638;
}

@media only screen and (max-width:768px) {
    .profile-main {
        width: 480px;
    }

    .profile-image {
        float: none;
        height: 341.25px;
        width: 227.5px;
    }

    .profile-data {
        margin-top: 50px;
        padding-left: 15px;
    }

    .profile-data h1 {
        font-size: 25px;
        margin-top: 0px;
        margin-left: 0;
    }

    .self-image {
        width: 35%;
    }

    .about-tag {
        margin-top: 0px;
    }

    .about-tag p{
        font-size: 15px;
    }

    .about-tag {
        margin-left: 0;
    }

    .detail-box {
        margin-left: 5px;
        font-size: 10px;
    }

    .ul-second {
        padding-left: 5px;
    }

    .profile-project h4{
        margin-bottom: 50px;
    }

    .projects {
        margin-right: 35px;
        margin-bottom: 35px;
        width: 40%;
    }

    .projects-image p {
        padding: 0;
        margin: 0;
        font-size: 12px;
    }

    .footer {
        margin-top: 150px;
    }

}

